.git/
.idea/
*.iml
data/
README.md
src/
src/test/
target/classes/
target/test-classes/
target/surefire-reports/
target/generated-sources/
target/generated-test-sources/
target/maven-archiver/
target/maven-status/
target/*.original
!target/mozilcode-cloud-*.jar
pom.xml
Dockerfile
docker-compose.yml
.dockerignore
*.md